.container {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.container-banner-header{
  margin: 15px;
  padding: 4px;
}

.banner-header {
  height: 500px;
  width: 100%;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-image{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

.card-header{
  text-align: center;
  margin: 15px;
}

.card-image{
  margin: 0px 0px 2px 2px;
}

.image-navigation{
  cursor: pointer;
}









