<div class="container">
  <div class="container-header">
    <h1>Create {{ header }}</h1>
  </div>
  <div class="main">
    <div class="container-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let product of eleInput">
          <div class="container-label">
            <label>{{ product.name }}</label>
          </div>

          <div *ngIf="product.key != 'status' && product.type != 'dropdown'">
            <input
              class="input-form"
              type="{{ product.type }}"
              name="{{ product.key }}"
              value="{{ product.value }}"
              formControlName="{{ product.key }}"
              placeholder="{{ product.key }}"
            />
          </div>

          <div
            *ngIf="
              product.type == 'dropdown' &&
              product.value != null &&
              product.value?.length > 0
            "
          >
            <select
              class="container-dropdown"
              title="{{ product.key }}"
              formControlName="{{ product.key }}"
            >
              <option *ngFor="let item of product.value" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
          </div>

          <div *ngIf="product.key == 'status'" class="container-radio">
            <div class="radio-select">
              <input
                type="radio"
                name="status"
                value="1"
                formControlName="{{ product.key }}"
              />
              <label> Active</label>
            </div>

            <div class="radio-select">
              <input
                type="radio"
                name="status"
                value="0"
                formControlName="{{ product.key }}"
              />
              <label> InActive</label>
            </div>
          </div>
        </div>

        <div class="container-btn">
          <button type="submit" class="btn-create">Create</button>
          <button type="submit" class="btn-back">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
