.container {
  width: 100%;
  height: 100%;
}

.product-list {
  margin-top: 15px;
  gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.container-box {
  align-items: center;
  font-family: arial;
  font-size: 20px;
  margin: 10px;
}

.box {
  display: block;
  text-align: center;
}

.container-box-name {
  margin-bottom: 5px;
}

.btn-product {
  text-decoration: none;
  color: #000;
}

.container-box-image {
  padding: 3px;
  border: 3px solid black;
  border-radius: 15px;
}

.container-body {
  display: flex;
  padding: 15px;
  align-items: center;
}

.container-box-price {
  text-align: right;
  padding-top: 8px;
  margin-top: 14px;
  width: 50%;
}

.box-price {
  display: flex;
}

.box-available {
  display: flex;
}

.box-text {
  width: 60%;
}

.box-unit {
  width: 40%;
}

.container-btn-box {
  margin-top: 15px;
  justify-content: center;
  display: block;
  width: 50%;
}

.container-btn-sell {
  margin-top: 15px;
  display: block;
  width: 25%;
}

.btn-edit {
  width: 100px;
  padding: 10px;
  background-color: rgba(0, 55, 255, 0.522);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 4px 5px 4px;
}

.btn-sell {
  width: 100px;
  padding: 10px;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 4px 5px 4px;
}

.container-btn-sell {
  padding: 10px;
  margin: 5px 4px 5px 4px;
}

.container-btn-sell :hover {
  color: white;
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.container-pagination {
  padding: 20px;
  float: right;
  display: flex;
}

.pagination {
  width: 100%;
}

li {
  list-style-type: none;
  border: 3px solid black;
}

.pagination-btn :hover {
  background-color: red;
}

.disable-pagination-btn {
  pointer-events: none;
}

.btn-page {
  padding: 10px;
  cursor: pointer;
}

.dis-btn-page {
  cursor: default;
}
